* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root {
     font-size: 62.5%;
 }

 body {
     font-family: 'Raleway', sans-serif;
     font-size: 1.6rem;
     background-image: url(./images/glasses.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }



 nav {
     width: 100%;
     /* background-color: rgb(185, 82, 82); */
     position: fixed;
     top: 0;
 }

 nav ul li {
     display: inline-block;
     list-style-type: none;
     
     
 }

 nav ul li a {
     text-decoration: none;
     color: white;
     font-weight: bold;
     padding:3rem 4rem;
     display:block;

 }

 nav ul li a:hover {
     background-color:rgba(136, 136, 136, 0.7);
     display: block;
 }

 .logo {
     float: left;
     width: 140px;
     margin: 1rem;
 }

 /* Main !!! */

 .text {
     background-color: rgba(255, 255, 255, 0.6);
     width: 1200px;
     height: 1000px;
     margin: 7.9rem auto;
     padding: 5rem;
     /* box-sizing: border-box; */
 }

 .text h1 {
     font-size:4rem;
 }

 .text p {
     margin-top: 4rem;
     
 }

 .left {
     margin-top: 4rem;
     float: left;
     width: 400px;
     padding-right:2rem ;
     padding-bottom: 2rem;
 }


 .apps img {
     width: 4rem;
     padding: 0.5rem;
     position: relative;
     bottom: 5rem;
     left: 170rem;
 }

   




 