* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root {
     font-size: 62.5%;
 }

 body {
     font-family: 'Raleway', sans-serif;
     font-size: 1.6rem;
     background-image: url(./images/event.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }

 nav {
    width: 100vw;
    position: fixed;
    top: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    padding:3rem 4rem;
    display:block;

}

nav ul li a:hover {
    background-color:rgba(136, 136, 136, 0.7);
    display: block;
}

.logo {
    float: left;
    width: 140px;
    margin: 1rem;
}



h1,h2 {
    text-align: center;
}


.block p {
    margin-top: 4rem;
}

.block {
    background-color: rgba(255, 255, 255, 0.6);
    width: 1200px;
    height: 1200px;
    margin: 7.9rem auto;
    padding: 5rem;
    
}



.left {
    margin-top: 4rem;
    width: 400px;
    float: left;
    padding-right: 2rem;
    padding-bottom: 2rem;
    
}

.clear {
    clear: both;
}


.apps img {
    width: 4rem;
    padding: 0.5rem;
    position: relative;
    bottom: 5rem;
    left: 170rem;
}
