* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root {
     font-size: 62.5%;
 }

 body {
     font-family: 'Raleway', sans-serif;
     font-size: 1.6rem;
     background-image:url(./images/cellar.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
 }

 nav {
    width: 100vw;
    /* background-color: rgb(185, 82, 82); */
    position: fixed;
    top: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding:3rem 4rem;
    display:block;

}

nav ul li a:hover {
    background-color:rgba(136, 136, 136, 0.7);
    display: block;
}

.logo {
    float: left;
    width: 140px;
    margin: 1rem;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 3rem;
}

.text2 p {
    margin-top: 4rem;
}

.text2 {
    background-color: rgba(255, 255, 255, 0.6);
    width: 1200px;
    height: 1300px;
    margin: 7.9rem auto;
    padding: 5rem;
}

.left1 {
    margin-top: 4rem;
    float: left;
    width: 400px;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.clear1 {
    clear: both;
}

.right1 {
    float: right;
    width: 400px;
    margin-top: 10rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.apps img {
    width: 4rem;
    padding: 0.5rem;
    position: relative;
    bottom: 5rem;
    left: 170rem;
}
